<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/shibai.css"/>
	</head>
	<body>
		<!-- <img class="img-g" src="../static/img/图层%202%20拷贝%202.png" > -->
		<div class="count">
			<p class="welcome"><img src="../static/img/形状%202.png" >抱歉，登陆失败！</p>
			<p class="yonghuming">没有获取到人脸信息......</p>
			<div class="button" ><a href="face_login.html">重新登录</a></div>
			<div class="button" style="margin-top: 10px;"><a href="face_insert.html">注册</a></div>
		</div>
		
	</body>
</html>
</html>
